<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <title>Blog</title>
</head>
<body>
	<div class="container">
		<% ctfs.forEach(ctf => { %>
		<div class="card">
			<div class="card-body">
				<div class="card-title">
			<%= ctf.title %>
				</div>
				<div class="card-subtitle text-muted mb-2">
			<%= ctf.createdAt.toLocaleDateString() %>
				</div>
				<div class="card-text mb-2">
			<%= ctf.description %>
				</div>
			</div>
		</div>
      <% }) %>
	</div>
</body>
</html>
